<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062789955439-j16p1u09kdqoa62buq7nope6sqo0un0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062789955439-j16p1u09kdqoa62buq7nope6sqo0un0d</string>
	<key>API_KEY</key>
	<string>AIzaSyBLYk1BH54c06Vz5DG-QwT_6o-VeGalGLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1062789955439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>galleryApp.PhotoGalleryStore</string>
	<key>PROJECT_ID</key>
	<string>photogalleryapp-a2150</string>
	<key>STORAGE_BUCKET</key>
	<string>photogalleryapp-a2150.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062789955439:ios:459b96d8455bbab649f29a</string>
</dict>
</plist>